
<div class='container form-container'>
  <div class="form-title">
    <h2>Où envoyer votre surprise ?</h2>
  </div>

  <div class="generic-form-container">
    <div class='generic-form'>
      <div class="form-description">
        <p> Veuillez remplir les champs suivants</p>
      </div>
      <%= simple_form_for(@surprise) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs address-box">
        <div class="delivery_address">
        <p>Adresse de Livraison :</p>
          <%= f.input :del_first_name, label:"Prenom", input_html: { value: @user.first_name }, required: true, autofocus: true %>
          <%= f.input :del_last_name, label:"Nom de famille", input_html: { value: @user.last_name }, required: true, autofocus: true %>
          <%= f.input :del_address, label:"Adresse", input_html: { value: @user.address }, required: true, autofocus: true %>

          <label for="bill_address">Utiliser une autre adresse pour la facturation</label>
          <input type="checkbox" id="bill_address" unchecked>
        </div>

        <div class="billing_address bill-hide" >
          <p>Adresse de Facturation:</p>
          <%= f.input :bill_first_name, label:"Prenom", input_html: { value: @user.first_name }, required: true, autofocus: true %>
          <%= f.input :bill_last_name, label:"Nom de famille", input_html: { value: @user.last_name }, required: true, autofocus: true %>
          <%= f.input :bill_address, label:"Adresse", input_html: { value: @user.address }, required: true, autofocus: true %>
        </div>

      </div>
      <div class="form-actions" >
        <%= f.button :submit, "Continuer", class: 'form-button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
    <script> initCheckboxBillingAddress(); </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBTatMTb2qrJDAwzylTpE7DVHjzR_yCJQs"></script>
<% end %>
