<div class='container form-container'>
 <div class="current-user" id="edit-info">
        <%= simple_form_for(current_user) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :address %>
        <%= f.input :mobile_phone %>
        <%= f.submit "valider", class:'btn btn-primary' %>
      <% end %>
      </div>
</div>
