
<!-- <div id="canvas">
  <div class="card-surprise">
    <div class="row" id="surprise-row">
      <div class="col-xs-12 col-sm-6">
        <div class="card-description">
          <div class="separator">
            <h1><%= @product.name%></h1>
            <br>
            <div>
              <% description = @product.description %>
              <% if description.length > 400 %>
              <p><%= description.first(400) %>...</p>
              <% else %>
              <p><%= description %></p>
              <% end %>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <div class="card-thumbs">
                <h2>SURPRIS ?</h2>
                  <a href="#" class="shrink-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                  <a href="#" class="shrink-down"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
            <% if description.length > 400 %>
              <div>
                <h3>Description du produit :</h2>
                <p><%= description %></p>
              </div>
            <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-image" style="background-image: url('<%= @product.photo_url1 %>'); ">
        </div>
        <div class="info">
        <br>
        <p><i class="fa fa-shopping-bag" aria-hidden="true"></i> <%= @product.supplier.name %></p>
         <p><i class="fa fa-star" aria-hidden="true"></i> Notes des internauts <%= @product.supplier_review %></p>
         <p><i class="fa fa-tag" aria-hidden="true"></i> <%= @surprise.amount %>    <i class="fa fa-eur" aria-hidden="true"></i></p>
          <p><i class="fa fa-truck" aria-hidden="true"></i></i> Votre produit sera livré dans <%= @product.delivery_time %> jours</p>
         </div>
      </div>
    </div>
  </div>

</div>

<% content_for :after_js do %>
  <script> scratchCard(); </script>
<% end %>
 -->
 <!-- <div class="container-fluid">

   <div class="surprise">

        <div class="surprise-image" style="background-image: url('<%= @product.photo_url1 %>'); ">
        </div>
        <div class="surprise-carac">
          <div>
            <h1><%= @product.name %></h1>
            <p><i class="fa fa-shopping-bag" aria-hidden="true"></i> <%= @product.supplier.name %></p>
            <p><i class="fa fa-star" aria-hidden="true"></i> Notes des internauts <%= @product.supplier_review %></p>
            <p><i class="fa fa-tag" aria-hidden="true"></i> <%= @surprise.amount %>    <i class="fa fa-eur" aria-hidden="true"></i></p>
            <p><i class="fa fa-truck" aria-hidden="true"></i></i> Votre produit sera livré dans <%= @product.delivery_time %> jours</p>
          </div>
        </div>
  </div>
  <div class="description-background">
  <div class="surprise-description">
            <h1>Description:</h1>
            <p><%= @product.description %></p>
          </div>
    </div>
 </div> -->

<div class="surprise">
  <div class="grid-surprise">
  <!--   <div class="image-surprise" id="image-surprise" style="background-image: url('<%= @product.photo_url1 %>'); ">
    </div> -->
    <div class="image-surprise" id="image-surprise">
        <div class="slider" >
        <input type="radio" name="slide_switch" id="id1" checked="checked"/>
        <label for="id1">
          <img src="<%= @product.photo_url1 %>" width="80"/>
        </label>
        <img src="<%= @product.photo_url1 %>"/>

        <input type="radio" name="slide_switch" id="id2"/>
        <label for="id2">
          <img src="<%= @product.photo_url2 %>" width="80"/>
        </label>
        <img src="<%= @product.photo_url2 %>"/>

        <input type="radio" name="slide_switch" id="id3"/>
        <label for="id3">
          <img src="<%= @product.photo_url3 %>" width="80"/>
        </label>
        <img src="<%= @product.photo_url3 %>"/>

        <input type="radio" name="slide_switch" id="id4"/>
        <label for="id4">
          <img src="<%= @product.photo_url4 %>" width="80"/>
        </label>
        <img src="<%= @product.photo_url4 %>"/>

      </div>
  </div>

    <div class="carac-surprise" id="carac-surprise">
      <h1><%= @product.name %></h1>
              <p><i class="fa fa-shopping-bag" aria-hidden="true"></i> <strong>Marchand: </strong><%= @product.supplier.name %></p>

              <% if @product.supplier_review > 0 %>
              <p><i class="fa fa-star" aria-hidden="true"> </i> Notes des internauts <%= @product.supplier_review / 10 %></p>
              <% end %>
              <p><i class="fa fa-tag" aria-hidden="true"></i><strong> Prix: </strong> <%= @surprise.amount %>    <i class="fa fa-eur" aria-hidden="true"></i></p>
              <p><i class="fa fa-truck" aria-hidden="true"></i></i> <strong> Livraison: </strong> Votre produit sera livré dans <%= @product.delivery_time %> jours</p>

              <div class="card-thumbs">
                <h2>SURPRIS ?</h2>
                  <a href="#" class="shrink-up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                  <a href="#" class="shrink-down"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
              </div>

    </div>
      <div class="surprise-description" id="description-surprise">
        <h1>Description:</h1>
        <p><%= @product.description %></p>
      </div>
   </div>
 </div>


