
    <!-- Profile picture with dropdown list -->
<div class="row home-selection">
    <div class="col-xs-6 category-select" id="product">
      <button class="product-title">PRODUIT</button>
      <div class="product-form event-hide"> <%= render "../views/products/search" %>
      </div>
    </div>

    <div class="col-xs-6 category-select" id="moment">
      <button class="moment-title">MOMENT</button>
      <div class="moment-form event-hide"> <%= render "../views/moments/search" %>
      </div>
    </div>
    <div class="headline move-down">
    </div>

    <div class="headline-text move-down">
    <h1>Offrez-vous une surprize en 2 minutes.</h1>
    <p>Cliquez sur une des deux catégories :</p>
    </div>
</div>

<div class="how">
    <!-- test -->
    <div class="flex">
      <a href="#how-it-works" id= 'how-link' class="bttn">SurpriZe Me?</a>
    </div>
<!-- fin/test -->
</div>

<div class="hide-how" id="how-it-works">
  <div class="col-xs-3 col-md-6-offset" id="info-card">
    <%= image_tag "light.png", class: "gift-image"%>
    <p> 1/ Choisir entre les deux boutons soit <em>Produit</em> soit <em>Surprise</em></p>
  </div>
  <div class="col-xs-3 col-md-6-offset" id="info-card">
    <%= image_tag "saisir.png", class: "gift-image"%>
    <p> 2/ Saisir <em>vos critères</em>, vos coordonées et informations utile</p>
  </div>
  <div class="col-xs-3 col-md-6-offset" id="info-card">
    <%= image_tag "paid.svg", class: "gift-image"%>
    <p> 3/ <strong>Payez</strong> de manière sûr</p>
  </div>
   <div class="col-xs-3 col-md-6-offset" id="info-card">
    <%= image_tag "gift.png", class: "gift-image" %>
    <p> 4/ Découvrez votre surprise ! Choisi en fonction du niveau de suprise que <em>vous</em> avez éxigé</p>
  </div>
</div>
<% content_for :after_js do %>
  <script> homepageAnimation(); </script>
<% end %>
