<div class="headline-mobile hidden-md hidden-lg">
      Offrez-vous une Surprize en 2 clicks
      <div>Choisissez entre un produit et un moment !</div>
</div>

<div class="home-selection container-fluid">
  <div class="row">

       <div class="col-xs-12 col-md-6 category-select" id="product">
        <button class="product-title">PRODUIT</button>
        <div class="product-form event-hide">
          <%= render "../views/products/search" %>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 category-select" id="moment">

        <button class="moment-title">MOMENT</button>
        <div class="moment-form event-hide">
          <%= render "../views/moments/search" %>
        </div>
      </div>

      <!-- <div class="headline hidden-xs hidden-sm">
      </div> -->
    <div class="headline-text hidden-xs hidden-sm">
      Offrez-vous une surprize en 2 minutes !
      <div>Cliquez sur une des deux catégories :</div>
    </div>
  </div>
</div>
<!-- <div class="how"> -->
    <!-- test -->
    <div class="how-it-works-arrow-down flex hidden-xs hidden-sm">
      <a href="#take-me-to-how-it-works">
        <p id="ccm">Comment ça marche ?</p>
        <i class="arrow down"></i>
      </a>
    </div>
<!-- fin/test -->
<!-- </div> -->

<div class="how-it-works container-fluid" id="take-me-to-how-it-works">
  <div class="row">
    <div class="how-it-works-title col-md-12">
      <h2>Une surprize sur mesure en quelques clicks</h2>
    </div>
  </div>
  <div id="how-it-works-cards" >
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info-card">
          <%= image_tag "light2.png", class: "gift-image"%>
          <p> 1/ <strong>Choisissez</strong> entre un <em>Produit</em> ou un <em>Moment</em></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info-card">
          <%= image_tag "pen.png", class: "gift-image"%>
          <p> 2/ <strong>Saisissez</strong> <em>vos critères</em>, vos coordonées et informations utiles. SurpriZe Me sélectionne ensuite votre surprise</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info-card">
          <%= image_tag "card3.png", class: "gift-image"%>
          <p> 3/ <strong>Payez</strong> de manière sécurisée</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info-card">
          <%= image_tag "gift3.png", class: "gift-image" %>
          <p> 4/ Découvrez votre surprise ! "No way back" : <br> SurpriZe Me l'a déjà <strong>commandée</strong> pour vous !</p>
        </div>
      </div>
    </div>
  </div>
</div>
