


<div class='container form-container' style="background: none">
  <div class="generic-form-container">
    <div class='generic-form'>

    <%= form_tag("/search", method: "get") do |f| %>
      <div class="form-inputs">
        <%= label_tag(:budget, "Votre budget max")  %>
        <%= text_field_tag(:budget, nil, placeholder: "ex: 80€") %>
      </div>
      <div class="inline icon-selector">

        <%= radio_button_tag(:gender, "male") %>
        <%= label_tag(:gender_male, "Homme", class: "icon-card male") %>
        <%= radio_button_tag(:gender, "female") %>
        <%= label_tag(:gender_female, "Femme", class: "icon-card female") %>
        <%= radio_button_tag(:gender, "indifferent") %>
        <%= label_tag(:gender_indifferent, "Indifférent", class: "icon-card indifferent") %>
      </div>
      <div class="icon-selector inline">
        <%= radio_button_tag(:surprise_type, "extravagent") %>
        <%= label_tag(:surprise_type_extravagent, "Extravagant", class: "icon-card extravagant") %>
        <%= radio_button_tag(:surprise_type, "moderate") %>
        <%= label_tag(:surprise_type_moderate, "Modéré", class: "icon-card moderate") %>

        <%= radio_button_tag(:surprise_type, "indifferent") %>
        <%= label_tag(:surprise_type_indifferent, "Indifférent", class: "icon-card indifferent") %>
      </div>
      <div class="form-actions">
        <%= submit_tag "Surprenez-moi avec un Produit", class: "form-button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>



