<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Surprize Me</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>





    <%= javascript_tag do %>
        <%= yield :after_js %>
    <% end %>


    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBTatMTb2qrJDAwzylTpE7DVHjzR_yCJQs"></script>

  </body>
</html>
